# smartfarm_client/.gitignore

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Production build artifacts
/build
/dist

# Misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
# JANGAN abaikan .env.example, karena itu template
# Abaikan file .env utama jika Anda memilih untuk menggunakannya secara langsung (tidak direkomendasikan untuk React App standar)
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*
*~
*.swp

# Editor directories and files
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.sublime-workspace

# Log files
*.log
logs/
